@model IEnumerable<The_New_Paradise.Models.ServicesTable>





@foreach (var item in Model)
{<!-- Section-->
                    <section class="py-5"  >
                        <div class="container px-4 px-lg-5 mt-5" >
                            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" >
                                <div class="col mb-5">
                                    <div class="card h-100">
                                        <!-- Product image-->
                                        <img class="card-img-top" src="@Url.Content("~/Upload/"+item.Service_Image)" />
                                        <!-- Product details-->
                                        <div class="card-body p-4">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder"> @Html.DisplayFor(modelItem => item.Service_Namee)</h5>
                                                <!-- Product price-->
                                                @Html.DisplayFor(modelItem => item.Service_Price)
                                                @Html.DisplayFor(modelItem => item.Service_Time)
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Book Now</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    @*<div class="card d-block w-100" style="width: 300px; background-color:black;text-align:left;color:gold; font-family:Calibri;display:inline-grid;">
                            <img src="@Url.Content("~/Upload/"+item.Service_Image)" style="height:200px; width:300px;" class="card-img-top" alt="...">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6" style="margin-top: 15px;margin-left:5px;">
                                        <b>Name:</b>
                                        @Html.DisplayFor(modelItem => item.Service_Namee)<br />
                                        <b>Price:</b>
                                        @Html.DisplayFor(modelItem => item.Service_Price) <p style="display:inline-block">INR</p> <br />
                                        <b>Duration:</b>
                                        @Html.DisplayFor(modelItem => item.Service_Time) <p style="display:inline-block">minutes</p>
                                    </div>
                                    <div class="col-md-1" style="margin-top:25px;">
                                        <a class="btn btn-primary">ADD TO CART</a>
                                    </div>
                                </div>
                                <hr class="dropdown-divider">
                                <div style="margin-left:18px;margin-right:15px;margin-top:10px;color:gainsboro">
                                    @Html.DisplayFor(modelItem => item.Service_Description)<br /><br />
                                </div>
                                <p class="card-text"></p>
                            </div>
                        </div>*@}


